@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
    @apply container mx-auto px-5
}

.active {
    @apply font-medium tracking-wide text-[#1d4ed8] bg-transparent
}

.default {
    @apply font-medium tracking-wide text-black bg-transparent
}

.my-btn {
    @apply bg-[#2396DC] text-white py-2 px-4 rounded-xl font-semibold border-2 border-[#2396DC]
}

.font-monserrat {
    font-family: 'Montserrat', sans-serif;
}

.social-btn {
    @apply flex gap-3 mx-auto justify-center items-center border font-semibold rounded-[57px] p-3 w-full cursor-pointer transition-all duration-200 ease-in-out
}

.card-shadow {
    box-shadow: 0px 1px 23px 4px rgba(0, 0, 0, 0.2);
}

th {
    background-color: #EBF8FF !important;
}

.no-sticky {
    position: static !important;
}